<header class="fixed-top">
  <div class="container d-flex justify-content-between py-3">
    <a href="/" class="navbar-brand fs-3 fw-bolder">Private Club</a>

    <nav class="nav d-none d-md-flex align-items-center">
      <a href="/" class="nav-link <%= pageName === 'home' && 'active' %>"
        >Home</a
      >
      <a href="/" class="nav-link <%= pageName === 'signin' && 'active' %>"
        >Sign In</a
      >
      <a href="/" class="nav-link <%= pageName === 'signup' && 'active' %>"
        >Sign Up</a
      >
    </nav>
  </div>
</header>
