:root {
  --primary-color: #005aa7;
  --light-color: #0081f0;
  --dark-color: #001f3a;
  --secondary-color: #00a7a0;
  --secondary-light-color: #00cbc3;
}

body {
  background: var(--dark-color);
  font-family: 'Poppins', sans-serif;
  padding-top: 85px;
}

header {
  z-index: 99999;
  background: var(--dark-color);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

footer {
  z-index: 99999;
  background: var(--dark-color);
  border-top: 1px solid var(--secondary-color);
  height: 50px;
}

.navbar-brand,
.navbar-brand:hover {
  color: var(--secondary-color);
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
  margin-left: 1.25rem;
}

.nav-link:hover,
.nav-link:focus {
  color: rgba(255, 255, 255, 0.25);
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-link.active {
  color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
}

.btn-nav {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn-nav:hover {
  border: 1px solid var(--secondary-light-color);
  color: var(--secondary-light-color);
}

.mobile-nav-container {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background-color: var(--dark-color);
  opacity: 0.5;
  transition: all 500ms ease-in-out;
}

.mobile-nav-container.show {
  left: 0;
  opacity: 1;
}

.main-container {
  max-width: 42em;
}

.auth-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.auth-form input {
  margin: 1rem 0;
}

.btn-submit-form {
  background-color: var(--secondary-color);
  color: #fff;
}

.btn-submit-form:hover {
  background-color: var(--secondary-light-color);
  color: #fff;
}

.message-list-container {
  padding-bottom: 80px;
  max-width: 475px;
  margin: 0 auto;
}

.message-form-container {
  position: fixed;
  left: 0;
  bottom: calc(0% + 50px);
  background-color: var(--dark-color);
  width: 100%;
}

.card-message {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.card-message:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}
